<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="secret" value="QmfFyYKj9s4uW/Y+go5d6zJQwIBhK/D0OYuDd8Cpnpfdc81gZ0MFU96VosBrODJA+s25KIg2l614s9em/qdflw==" />
    <add key="LogFileDirectory" value="c:\\Temp"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>